#data{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr))
}
.product_div{
    background-color: rgb(228, 236, 228);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.product_div:hover{
     background-color: rgb(198, 199, 198);
}
.product_rating{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;

}
.product_description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.product_image{
    width: 200px;
    height: 200px;
    margin: auto;   
}
.image_div{
    display: flex;
    object-fit: fill;
}
.product_category{
    background-color: rgb(51, 67, 80);
    color: white;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px ;
    padding-bottom: 4px ;
    border-radius: 10px;
}
.product_price{
    /* font-family: monospace; */
    font-size: larger;
}
.product_title{
    text-align: center;
}

.cinzel-500 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cinzel-800 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


.lora-500 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lora-700 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.shopName{
    text-align: center;
    font-size: 50px;
}
.shopDesc{
    text-align: center;
}
